@import 'abstract/variables';
@import 'abstract/mixins';

* {
  margin: 0;
  padding: 0;
}

html{
  scroll-behavior: smooth;
  background-color: rgb(56, 56, 56);
}

body,h1,h2,h3,h4,h5,h6 {
  font-family: "Raleway", sans-serif
}

body, html {
  height: 100%;
  line-height: 1.8;
}




a{
  text-decoration:none;
}


// NAV
#nav{
  position:fixed;
  width:100%;
  z-index:1;
  top:0;
  padding: 15px;
  background-color:  rgb(37, 37, 37);
  color: white;

  .right{
    display: flex;
    position: absolute;
    top: 15px;
    right: 2%;
    gap: 30px;
  }

  .nav-button{
    &:hover{
      color: blue;
    }
  }

}

// HEADER

header{
  position:relative;
  background-color: rgb(54, 54, 54);
  height: 100%;

  #div-header{
    padding:60px;
    color: white;
    position:absolute;
    top:50%;
    left:0%;
    transform:translate(0%,-50%);
    -ms-transform:translate(-0%,-50%);
    
    .p-big{
      font-size: 55px;
      font-weight: 900;
      @include medium{
        font-size: 35px;
      }
    }

    .p-small{
      font-size: 20px;
      @include medium{
        font-size: 17px;
      }
    }
    

    .home-button{
      display:inline-block;
      cursor:pointer;
      padding:12px 24px;
      font-size:18px;
      margin-top: 10px;
      background-color: #7046E7;
      border-radius: 10px;
      &:hover{
        opacity: 80%;
      }
    }

  }
}




.container{
  padding:100px 20px;
}

// ABOUT 
#about{
  background-color:rgb(37, 37, 37);
  color: white;
  h3{
    text-align:center;
    margin-bottom: 60px;
  }
  
  .div-about{
    text-align:center;
    display: flex;
    margin: 0 auto;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
  }

  .each-about{
    padding: 15px;
    text-align: center;
    width: 20%;
    min-width: 200px;
    p{
        text-align: center;
    }
  }

  i{
    margin-bottom: 20px;
    font-size:60px !important;
  }

}


#other{
  .div-other{
    display: flex;
    margin: 0 auto;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
  }

  .each-other{
    padding: 15px;
    width: 40%;
    min-width: 200px;

    :nth-of-type(1){
      margin: 20px 0px;
    }
  }
  .each-other-img{
    padding: 15px;
    text-align: center;
    width: 40%;
    min-width: 200px;
    img{
      max-width:100%;
      height:auto;
      border-radius: 10px;
    }
  }

  .home-button{
    display:inline-block;
    cursor:pointer;
    padding:8px 16px;
    margin-top: 8px;
    background-color: #7046E7;
    border-radius: 10px;
    &:hover{
      opacity: 80%;
    }
  }

}