@import 'abstract/variables';
@import 'abstract/mixins';

* {
  margin: 0;
  padding: 0;
}

html, body{
  scroll-behavior: smooth;
  background-color: $medium-gray;
  height: 100%;
  font-family:"Trebuchet MS", sans-serif;
}

a{
  text-decoration:none;
  color: $white;
}

p{
  color: $gray-text;
}

h3{
  margin-bottom: 10px;
}

.download-button{
  display:inline-block;
  cursor:pointer;
  padding:14px 26px;
  font-size:22px;
  margin-top: 10px;
  background-color: $color-primary;
  border-radius: 10px;
  color: $white;
  &:hover{
    opacity: 80%;
  }

  @include small{
    padding:10px 20px;
    font-size:18px;
  }
}

// NAV
#nav{
  position:fixed;
  width:100%;
  z-index:1;
  top:0;
  padding: 15px;
  border-bottom: solid gray;
  background-color:  rgb(37, 37, 37);
  color: blue !important;

  #nav-large{
    @include small{
      display: none;
    }

    .right{
      display: flex;
      position: absolute;
      top: 15px;
      right: 5%;
      gap: 30px;
    }
  
  }

  #nav-small{
    display: none;
    @include small{
      display: block;
    }
  }


  .nav-button{
    color: $gray-text;
    &:hover{
      color: $color-primary;
    }
  }

}

#sidebar{
  display: none;
  background-color: black;
  color: $white;
  width:200px;
  height: 100%;
  position:fixed!important;
  z-index:1;
  padding:8px 16px;text-align:left;

  animation:animateleft 0.4s;
  @include getbigger{
    display: none!important;
  }
  .nav-button{
    display:inline-block;padding:8px 16px;
    &:hover{
      color: $color-primary;
    }
  }
}

// HEADER

header{
  position:relative;

  background-position: center;
  background-size: cover;
  background-image: url("../img/header.jpg");
  min-height: 100%;

  height: 100%;
  #div-header{

    position:absolute;
    top:50%;
    left:50%;
    transform:translate(0%,-50%);
    -ms-transform:translate(-0%,-50%);
    
    .p-big{
      font-size: 55px;
      font-weight: 900;    
      color: $white;
      @include medium{
        font-size: 35px;
      }
    }

    .p-small{
      font-size: 20px;
      color: $white;
      @include medium{
        font-size: 17px;
      }
    }
  

  }
}




.container{
  padding:100px 100px;
  @include medium{
    padding: 50px 0px;
  }
}

// apropos 
#apropos{
  background-color:$medium-gray;
  color: $white;
  h2{
    text-align:center;
    margin-bottom: 60px;
  }
  
  .div-content{
    text-align:center;
    display: flex;
    margin: 0 auto;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
  }

  .each-content{
    padding: 15px;
    text-align: center;
    width: 20%;
    min-width: 200px;
    p{
        text-align: center;
    }
  }

  i{
    margin-bottom: 20px;
    font-size:60px !important;
  }

}

#sert{
  background-color: $dark-gray;
  color: $white;
  .div-sert{
    display: flex;
    align-items: center;
    margin: 0 auto;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
  }

  .each-content{
    padding: 15px;
    width: 40%;
    min-width: 200px;

    @include small{
      width: 100%;
    }

    :nth-of-type(1){
      margin: 20px 0px;
    }
  }
  .each-content-img{
    padding: 15px;
    text-align: center;
    width: 40%;
    min-width: 200px;
    img{
      max-width:100%;
      height:auto;
      border-radius: 10px;
    }
    @include small{
      display: none;
    }
  }

}

// FONCTIONS 
#fonctions{
  background-color:$medium-gray;
  color: $white;
  h2{
    text-align:center;
    margin-bottom: 60px;
  }
  
  .div-content{
    display: flex;
    margin: 0 auto;
    gap: 50px;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 70px;
  }

  .each-content{
    display: flex;
    align-items: center;
    text-align: center;
    padding: 15px;
    width: 20%;
    min-width: 100px;
    border-bottom: 2px solid $color-primary-soft;
    @include small{
      width: 10%;
    }
  }

  .center{
    justify-content: center;
    text-align: center;
  }

}


// DOWNLOAD
#download{
  background-color: $light-gray;
  width:auto;
  text-align:center;
  padding: 80px 0px;
  width: 100%;
  color: $white;

  .p-big{
    font-size: 23px;
    color: $white;
    margin-bottom: 30px;
  }
}


// apropos 
#contact{
  background-color:$medium-gray;
  color: $white;
  h2{
    text-align:center;
    margin-bottom: 60px;
  }
  
  .div-content{
    text-align:center;
    display: flex;
    margin: 0 auto;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
  }
  a{
    &:hover{
      color: $color-primary;
    }
  }
  .each-content{
    padding: 15px;
    text-align: center;
    width: 40%;
    min-width: 200px;
    p{
        text-align: center;
    }
  }

  i{
    margin-bottom: 20px;
    font-size:60px !important;
  }

}



// FOOTER
footer{
  background-color: $dark-gray;
  display:inline-block;
  width:auto;
  text-align:center;
  padding: 60px 0px;
  width: 100%;
  color: $white;
  .p-big{
    font-size: 20px;
    color: $white;
  }
  a{
    &:hover{
      color: $color-primary;
    }
  }
}

// Responsive settings
@media only screen and (max-width: 600px) {
  header {
    height: 60%;
    min-height: 0;
    background-image: none;
    background-color: #2e2f34;
    #div-header {
      padding: 15px;
      text-align: center;
      left: 0 !important;
      p {
        margin: 1%;
      }
    }
  }
  .container {
    .div-sert {
      .each-content {
        text-align: center;
      }
    }
  }
  #fonctions {
    .div-content {
      text-align: center;
      .each-content {
        display: flex;
        align-items: center;
      }
    }
  }
}