* {
  margin: 0;
  padding: 0;
}

html, body {
  scroll-behavior: smooth;
  background-color: #252525;
  height: 100%;
  font-family: "Trebuchet MS", sans-serif;
}

a {
  text-decoration: none;
  color: white;
}

p {
  color: #a3a3a3;
}

h3 {
  margin-bottom: 10px;
}

.download-button {
  display: inline-block;
  cursor: pointer;
  padding: 14px 26px;
  font-size: 22px;
  margin-top: 10px;
  background-color: #7046E7;
  border-radius: 10px;
  color: white;
}
.download-button:hover {
  opacity: 80%;
}
@media (max-width: 500px) {
  .download-button {
    padding: 10px 20px;
    font-size: 18px;
  }
}

#nav {
  position: fixed;
  width: 100%;
  z-index: 1;
  top: 0;
  padding: 15px;
  background-color: #252525;
  color: blue !important;
}
@media (max-width: 500px) {
  #nav #nav-large {
    display: none;
  }
}
#nav #nav-large .right {
  display: flex;
  position: absolute;
  top: 15px;
  right: 5%;
  gap: 30px;
}
#nav #nav-small {
  display: none;
}
@media (max-width: 500px) {
  #nav #nav-small {
    display: block;
  }
}
#nav .nav-button {
  color: #a3a3a3;
}
#nav .nav-button:hover {
  color: #7046E7;
}

#sidebar {
  display: none;
  background-color: black;
  color: white;
  width: 200px;
  height: 100%;
  position: fixed !important;
  z-index: 1;
  padding: 8px 16px;
  text-align: left;
  animation: animateleft 0.4s;
}
@media (min-width: 600px) {
  #sidebar {
    display: none !important;
  }
}
#sidebar .nav-button {
  display: inline-block;
  padding: 8px 16px;
}
#sidebar .nav-button:hover {
  color: #7046E7;
}

header {
  position: relative;
  background-position: center;
  background-size: cover;
  background-image: url("../img/header.jpg");
  min-height: 100%;
  height: 100%;
}
header #div-header {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(0%, -50%);
  -ms-transform: translate(0%, -50%);
}
header #div-header .p-big {
  font-size: 55px;
  font-weight: 900;
  color: white;
}
@media (max-width: 800px) {
  header #div-header .p-big {
    font-size: 35px;
  }
}
header #div-header .p-small {
  font-size: 20px;
  color: white;
}
@media (max-width: 800px) {
  header #div-header .p-small {
    font-size: 17px;
  }
}

.container {
  padding: 100px 100px;
}
@media (max-width: 800px) {
  .container {
    padding: 50px 0px;
  }
}

#apropos {
  background-color: #252525;
  color: white;
}
#apropos h2 {
  text-align: center;
  margin-bottom: 60px;
}
#apropos .div-content {
  text-align: center;
  display: flex;
  margin: 0 auto;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}
#apropos .each-content {
  padding: 15px;
  text-align: center;
  width: 20%;
  min-width: 200px;
}
#apropos .each-content p {
  text-align: center;
}
#apropos i {
  margin-bottom: 20px;
  font-size: 60px !important;
}

#sert {
  background-color: #131313;
  color: white;
}
#sert .div-sert {
  display: flex;
  margin: 0 auto;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}
#sert .each-content {
  padding: 15px;
  width: 40%;
  min-width: 200px;
}
@media (max-width: 500px) {
  #sert .each-content {
    width: 100%;
  }
}
#sert .each-content :nth-of-type(1) {
  margin: 20px 0px;
}
#sert .each-content-img {
  padding: 15px;
  text-align: center;
  width: 40%;
  min-width: 200px;
}
#sert .each-content-img img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}
@media (max-width: 500px) {
  #sert .each-content-img {
    display: none;
  }
}

#fonctions {
  background-color: #252525;
  color: white;
}
#fonctions h2 {
  text-align: center;
  margin-bottom: 60px;
}
#fonctions .div-content {
  display: flex;
  margin: 0 auto;
  gap: 50px;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 70px;
}
#fonctions .each-content {
  padding: 15px;
  width: 20%;
  min-width: 100px;
  border-bottom: 2px solid #8675b6;
}
@media (max-width: 500px) {
  #fonctions .each-content {
    width: 10%;
  }
}
#fonctions .center {
  justify-content: center;
  text-align: center;
}

#download {
  background-color: #3f3f3f;
  width: auto;
  text-align: center;
  padding: 80px 0px;
  width: 100%;
  color: white;
}
#download .p-big {
  font-size: 23px;
  color: white;
  margin-bottom: 30px;
}

#contact {
  background-color: #252525;
  color: white;
}
#contact h2 {
  text-align: center;
  margin-bottom: 60px;
}
#contact .div-content {
  text-align: center;
  display: flex;
  margin: 0 auto;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}
#contact a:hover {
  color: #7046E7;
}
#contact .each-content {
  padding: 15px;
  text-align: center;
  width: 40%;
  min-width: 200px;
}
#contact .each-content p {
  text-align: center;
}
#contact i {
  margin-bottom: 20px;
  font-size: 60px !important;
}

footer {
  background-color: #131313;
  display: inline-block;
  width: auto;
  text-align: center;
  padding: 60px 0px;
  width: 100%;
  color: white;
}
footer .p-big {
  font-size: 20px;
  color: white;
}
footer a:hover {
  color: #7046E7;
}

/*# sourceMappingURL=style.css.map */
