@import 'abstract/variables';
@import 'abstract/mixins';

* {
  margin: 0;
  padding: 0;
}

html, body{
  scroll-behavior: smooth;
  background-color: rgb(56, 56, 56);
  height: 100%;
}

a{
  text-decoration:none;
}


// NAV
#nav{
  position:fixed;
  width:100%;
  z-index:1;
  top:0;
  padding: 15px;
  background-color:  rgb(37, 37, 37);
  color: white;

  #nav-large{
    @include small{
      display: none;
    }

    .right{
      display: flex;
      position: absolute;
      top: 15px;
      right: 2%;
      gap: 30px;
    }
  
   
  }

  #nav-small{
    display: none;
    @include small{
      display: block;
    }
  }


  .nav-button{
    &:hover{
      color: blue;
    }
  }

}


#sidebar{
  display: none;
  background-color: black;
  color: white;
  width:200px;
  height: 100%;
  position:fixed!important;
  z-index:1;
  padding:8px 16px;text-align:left;

  animation:animateleft 0.4s;
  @include getbigger{
    display: none!important;
  }
  .nav-button{
    display:inline-block;padding:8px 16px;
    &:hover{
      color: blue;
    }
  }
}

// HEADER

header{
  position:relative;
  background-color: rgb(54, 54, 54);
  height: 100%;

  #div-header{
    padding:60px;
    color: white;
    position:absolute;
    top:50%;
    left:0%;
    transform:translate(0%,-50%);
    -ms-transform:translate(-0%,-50%);
    
    .p-big{
      font-size: 55px;
      font-weight: 900;
      @include medium{
        font-size: 35px;
      }
    }

    .p-small{
      font-size: 20px;
      @include medium{
        font-size: 17px;
      }
    }
    

    .download-button{
      display:inline-block;
      cursor:pointer;
      padding:12px 24px;
      font-size:18px;
      margin-top: 10px;
      background-color: #7046E7;
      border-radius: 10px;
      &:hover{
        opacity: 80%;
      }
    }

  }
}




.container{
  padding:100px 100px;
  @include medium{
    padding: 50px 0px;
  }
}

// ABOUT 
#about{
  background-color:rgb(37, 37, 37);
  color: white;
  h3{
    text-align:center;
    margin-bottom: 60px;
  }
  
  .div-content{
    text-align:center;
    display: flex;
    margin: 0 auto;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
  }

  .each-content{
    padding: 15px;
    text-align: center;
    width: 20%;
    min-width: 200px;
    p{
        text-align: center;
    }
  }

  i{
    margin-bottom: 20px;
    font-size:60px !important;
  }

}


// FONCTIONS 
#fonctions{
  background-color:rgb(49, 49, 49);
  color: white;
  h3{
    text-align:center;
    margin-bottom: 60px;
  }
  
  .div-content{
    display: flex;
    margin: 0 auto;
    gap: 50px;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 70px;
  }

  .each-content{
    padding: 15px;
    width: 15%;
    min-width: 200px;
    border-bottom: 2px solid rgb(83, 83, 83);
  }

  .center{
    justify-content: center;
    text-align: center;
  }
  /*
  .download-button{
    cursor:pointer;
    padding:12px 20px;
    background-color: #7046E7;
    border-radius: 10px;
    &:hover{
      opacity: 80%;
    }
  }
  */

}



#other{
  .div-other{
    display: flex;
    margin: 0 auto;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
  }

  .each-content{
    padding: 15px;
    width: 40%;
    min-width: 200px;

    @include small{
      width: 100%;
    }

    :nth-of-type(1){
      margin: 20px 0px;
    }
  }
  .each-content-img{
    padding: 15px;
    text-align: center;
    width: 40%;
    min-width: 200px;
    img{
      max-width:100%;
      height:auto;
      border-radius: 10px;
    }
    @include small{
      display: none;
    }
  }

  .download-button{
    display:inline-block;
    cursor:pointer;
    padding:12px 20px;
    margin-top: 8px;
    background-color: #7046E7;
    border-radius: 10px;
    &:hover{
      opacity: 80%;
    }
  }

}


// FOOTER
footer{
  background-color: black;
  display:inline-block;
  width:auto;
  text-align:center;
  padding: 60px 0px;
  width: 100%;
  color: white;
}

// DOWNLOAD
#download{
  background-color: rgb(116, 116, 116);
  width:auto;
  text-align:center;
  padding: 80px 0px;
  width: 100%;
  color: white;

  .large{
    font-size: 24px;
    margin-bottom: 30px;
  }
  .download-button{
    display:inline-block;
    cursor:pointer;
    padding:12px 24px;
    font-size: 20px;
    margin-top: 8px;
    background-color: #7046E7;
    border-radius: 10px;
    &:hover{
      opacity: 80%;
    }
  }
}