* {
  margin: 0;
  padding: 0;
}

html, body {
  scroll-behavior: smooth;
  background-color: #383838;
  height: 100%;
}

a {
  text-decoration: none;
}

#nav {
  position: fixed;
  width: 100%;
  z-index: 1;
  top: 0;
  padding: 15px;
  background-color: #252525;
  color: white;
}
#nav .right {
  display: flex;
  position: absolute;
  top: 15px;
  right: 2%;
  gap: 30px;
}
#nav .nav-button:hover {
  color: blue;
}

header {
  position: relative;
  background-color: #363636;
  height: 100%;
}
header #div-header {
  padding: 60px;
  color: white;
  position: absolute;
  top: 50%;
  left: 0%;
  transform: translate(0%, -50%);
  -ms-transform: translate(0%, -50%);
}
header #div-header .p-big {
  font-size: 55px;
  font-weight: 900;
}
@media (max-width: 800px) {
  header #div-header .p-big {
    font-size: 35px;
  }
}
header #div-header .p-small {
  font-size: 20px;
}
@media (max-width: 800px) {
  header #div-header .p-small {
    font-size: 17px;
  }
}
header #div-header .download-button {
  display: inline-block;
  cursor: pointer;
  padding: 12px 24px;
  font-size: 18px;
  margin-top: 10px;
  background-color: #7046E7;
  border-radius: 10px;
}
header #div-header .download-button:hover {
  opacity: 80%;
}

.container {
  padding: 100px 100px;
}
@media (max-width: 800px) {
  .container {
    padding: 50px 0px;
  }
}

#about {
  background-color: #252525;
  color: white;
}
#about h3 {
  text-align: center;
  margin-bottom: 60px;
}
#about .div-content {
  text-align: center;
  display: flex;
  margin: 0 auto;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}
#about .each-content {
  padding: 15px;
  text-align: center;
  width: 20%;
  min-width: 200px;
}
#about .each-content p {
  text-align: center;
}
#about i {
  margin-bottom: 20px;
  font-size: 60px !important;
}

#fonctions {
  background-color: #313131;
  color: white;
  /*
  .download-button{
    cursor:pointer;
    padding:12px 20px;
    background-color: #7046E7;
    border-radius: 10px;
    &:hover{
      opacity: 80%;
    }
  }
  */
}
#fonctions h3 {
  text-align: center;
  margin-bottom: 60px;
}
#fonctions .div-content {
  display: flex;
  margin: 0 auto;
  gap: 50px;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 70px;
}
#fonctions .each-content {
  padding: 15px;
  width: 15%;
  min-width: 200px;
  border-bottom: 2px solid #535353;
}
#fonctions .center {
  justify-content: center;
  text-align: center;
}

#other .div-other {
  display: flex;
  margin: 0 auto;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}
#other .each-content {
  padding: 15px;
  width: 40%;
  min-width: 200px;
}
@media (max-width: 500px) {
  #other .each-content {
    width: 100%;
  }
}
#other .each-content :nth-of-type(1) {
  margin: 20px 0px;
}
#other .each-content-img {
  padding: 15px;
  text-align: center;
  width: 40%;
  min-width: 200px;
}
#other .each-content-img img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}
@media (max-width: 500px) {
  #other .each-content-img {
    display: none;
  }
}
#other .download-button {
  display: inline-block;
  cursor: pointer;
  padding: 12px 20px;
  margin-top: 8px;
  background-color: #7046E7;
  border-radius: 10px;
}
#other .download-button:hover {
  opacity: 80%;
}

footer {
  background-color: black;
  display: inline-block;
  width: auto;
  text-align: center;
  padding: 60px 0px;
  width: 100%;
  color: white;
}

#download {
  background-color: #747474;
  width: auto;
  text-align: center;
  padding: 80px 0px;
  width: 100%;
  color: white;
}
#download .large {
  font-size: 24px;
  margin-bottom: 30px;
}
#download .download-button {
  display: inline-block;
  cursor: pointer;
  padding: 12px 24px;
  font-size: 20px;
  margin-top: 8px;
  background-color: #7046E7;
  border-radius: 10px;
}
#download .download-button:hover {
  opacity: 80%;
}

/*# sourceMappingURL=style.css.map */
