$color-primary: #7046E7;
$color-primary-soft:  #8675b6;

$medium-gray:rgb(37, 37, 37);
$dark-gray: darken($medium-gray, 7%);;
$light-gray: lighten($medium-gray, 10%);

$gray-text: rgb(163, 163, 163);

$white: white;